
@{
    ViewData["Title"] = "Calcula";
}

<h1>Calcula</h1>

@*<a></a> @*Negrito*@
@*@<br /> @*Quebra de linha*@
@*@<div></div> @*Cria uma DIVison*@
@*<button></button> @*Cria um botao*@ 
@*<p> entre </p>*@

<div>
    <p><a href="~/Home">Volta pro começo</a></p>
    <br />
    <p><a href="https://Google.com"> Vai pro google </a></p>
    <br />
    <button type="button" onclick="alert('4')"><a>2+2?</a></button>
    <br />
    <p> @DateTime.Now </p>
</div>


